#--------------------------------------
# ignore default
#--------------------------------------
/*

#--------------------------------------
# root files
#--------------------------------------
!/.gitignore
!/pdf-logger.cgi
!/pdf-logger.fcgi
!/pdf-logger.httpd.pl
!/pdf-logger.conf.cgi.sample

#--------------------------------------
# system files
#--------------------------------------
!/info/
!/js/
!/lib/
!/pub-dist/
!/skel/
!/theme/

#--------------------------------------
# data directory
#--------------------------------------
!/__cache/
/__cache/*
!/__cache/.htaccess

!/data/
/data/*
!/data/.htaccess

!/pub/
/pub/*
!/pub/.gitkeep

#--------------------------------------
# other files
#--------------------------------------
!/docs/



